:root{
    --primary-btn-color: #E02C6D;
    --primary-font-color: #3A3A3A;
    --secondary-font-color: #18191F;
    --p-font-color: #787885;
    --copyright-font-color: #D9DBE1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 1440px;
    background-color: #ffffff;
}
/* shared styles */
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
/* nav related css */
nav {
    margin: 87px auto 0px;
    width: 1200px;
    height: 52px;
    justify-content: space-between;
}
.navbar-logo {
    align-self: center;
    font-weight: 700;
    font-size: 2rem;
}
.navbar-items {
    width: 463px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    font-weight: 600;
}
a, li {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.cart-icon {
    width: 36px;
    height: 36px;
}
.search-icon {
    width: 24px;
    height: 24px;
}

/* responsive nav related css */

@media screen and (max-width:600px) {
    .flex {
        flex-direction: column;
    }
}