:root{
    --primary-btn-color: #E02C6D;
    --primary-font-color: #3A3A3A;
    --secondary-font-color: #18191F;
    --p-font-color: #787885;
    --copyright-font-color: #D9DBE1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 1440px;
    background-color: #ffffff;
    font-family:"Poppins", sans-serif;;
}
/* shared styles */
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.spacing-middle {
    margin: 87px auto 0px;
    width: 1200px;
}
.primary-btn {
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 700;
    justify-content: center;
}
.secondary-btn {
    width: 155px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 700;
    justify-content: center;
}
.btn-img {
    width: 18px;
    height: 18px;
    align-self: center;
}
/* nav related css */
nav {
    margin: 87px auto 0px;
    width: 1200px;
    height: 52px;
    justify-content: space-between;
    
}
.navbar-logo {
    align-self: center;
    font-weight: 700;
    font-size: 2rem;
}
.navbar-items {
    width: 463px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    font-weight: 600;
}
a, li {
    text-decoration: none;
    color: var(--primary-font-color);
}
li {
    list-style-type: none;
}
.cart-icon {
    width: 36px;
    height: 36px;
}
.search-icon {
    width: 24px;
    height: 24px;
}
/* hero-banner related css */
.hero-banner,
.footer-banner {
    justify-content: space-around;
    gap: 133px;
}
.hero-banner-content{
    margin: 70px 0px;
    width: 582px;
    flex-direction: column;
    gap: 16px;
}
.hero-h2 {
    font-size: 52px;
    font-weight: 700;
}
.hero-banner-img {
    background-image: url(../images/circledesign.svg);
    width: 475px;
    height: 475px;
}
/*  sponsors related css */

.sponsor {
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid var(--copyright-font-color);
    border-bottom: 1px solid var(--copyright-font-color);
    height: 110px;
    width: 1100px;
    padding: 36px 62px;
    gap: 60px;
    margin: 100px auto;
}

/* cards related css */
.cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.card-title {
    height: 70px;
    font-weight: 600;
    font-size: 28px;
}
.card-info {
    border: none;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card-img {
    width: 100.4%;
}
.card-head {
    font-size: 28px;
    font-weight: 500;
}
.card-price {
    font-size: 24px;
    font-weight: 300;
}
.rating {   
    width: 122px;
    height: 32px;
}
.card-paragraph {
    width: 196px;
    height: 61px;
    color: var(--p-font-color);
    font-size: 14px;
}
.card-footer {
    height: 24px;
    font-weight: 600;
    font-size: 28px;
    color: var(--primary-btn-color);
}
.card-see-more {
    text-decoration: underline;
    color: var(--primary-btn-color);
    font-size: 16px;
}
/* footer banner related css */
.footer-banner {
    height: 17rem;
    width: 1110px;
    gap: 96px;
    align-items: center;
    margin: 100px auto;
}
.footer-banner-content {
    width: 610px;
    height: 224px;
    flex-direction: column;
    gap: 16px;
}
.footer-banner-h2 {
    font-size: 38px;
}
/* footer related css */

footer {
    width: 1440px;
    height: 240px;
    background-color: black;

}
.footer-contents {
    width: 262px;

    gap: 17px;
    color: white;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    top: 50px;
    text-align: center;
    align-items: center;
}
.footer-txt {
    gap: 3px;
    flex-direction: column;
}
.footer-logo-txt {
    font-size: 24px;
}
.copy-text {
    font-size: 14px;
}
.socials {
    gap: 16px;
    width: 176px;
    height: 32px;
 
}
.social-links {
    width: 32px;
    height: 32px;
}
/* responsive nav related css */

@media screen and (max-width:640px) {
    .flex {
        flex-direction: column;
    }

    /* hero-banner related */

    /* sponsor related */
    .sponsor {
    grid-template-columns: repeat(4, 1fr);
    padding: 36px 62px;
    gap: 30px;
    margin: 42px auto;
    border: none;
}
    /* card related  */
    .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    .none {
        display: none;
    }
    .card-see-more {
        align-self: end;
    }
    .card-title {
        align-self: center;
    }
}
    /* footer banner related responsiveness */
    .footer-banner {
        flex-direction: column-reverse;
    }


}